<a href="https://colab.research.google.com/github/ravi260372/Data_Science_Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Python basics</center>

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [2]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [3]:
# print type of a
type(a)

int

In [4]:
# print type of b
type(b)

str

In [5]:
# swap the values of a and b
b = 'city'
a = 5

In [6]:
# run this to confirm 
print('a = ' + str(a) + ' , b = ' + str(b))

a = 5 , b = city

## Arithmetic Operations

Simple mathematical operations and using math module to apply mathematical functions

- Mathematical operations

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [7]:
# declare two variables, a = 24, b = 3

a = 24
b =   3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [ ]:
# calculate and print all the possible numeriacl operations on a and b (There are total 7 operations)

a + b =  27
a - b =  21
a * b =  72
a / b =  8.0
a % b =  0
a // b =  8
a ^ b =  13824

## Math Functions

Math module contains various mathematical functions. 

Reference:- https://youtu.be/gktjNyV0xks

<p style='text-align: right;'> 1 + 4 = 5 points </p>

In [ ]:
import math
# declare a variable a = 2
a =  #your code here
print('a = ',a)

a =  2

In [ ]:
# declare a variable x = 2 and y=5.32167

x=#code here
y=#code here

In [ ]:
# Print the maximum value between x and y

5.32167

In [ ]:
# Round value of y upto 2 decimal places

5.32

In [ ]:
# Print square and cube of x and store in a and b variable

4.0
8.0

In [ ]:
#print log of x and store it in variable c

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c

0.6931471805599453

In [ ]:
#print the largest integer not greater than c.

0

In [ ]:
#print the smallest integer not less than c.

1

## Logical opeations

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False

a = #your code here
b = #your code here

print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b

type of a is  <class 'bool'>
type of b is  <class 'bool'>

In [ ]:
# print int(a) and int(b)

int of a is  1
int of b is  0

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b

not a  =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

## List Comprehensions

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20.

l1 = #your code here

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l2 =  #your code here

print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the length of fruits corresponding fruits
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = # your code here (create a list of your favourite fruits)
len_fruits = # your code here

print(fruits)
print(len_fruits)

['apple', 'kiwi', 'orange']
[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings

Reference:-  https://youtu.be/LnQDWIMaJlA

In [ ]:
# declare the variables x and y

x =  #your code here
y = #your code here

In [ ]:
#Print both the strings

cat
dog

In [ ]:
#Print first character of both x and y.

First ch of x =  c
First ch of y =  d

In [ ]:
#Print last character of both x and y.

Last ch of x  =  t
Last ch of y =  g

In [ ]:
#Print len of both x and y

Length of x is  3
Length of y is  3

In [ ]:
#concatenate both x and y and store it in variable z and print z

catdog

In [ ]:
#check if x is part of z

True

### String slicing

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a = # your code here

print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]

pine
apple

In [ ]:
#Convert a into upper case

'PINEAPPLE'

## Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’
sent = # your code here

print(sent)

I am flying to london

In [ ]:
#Print len of the sentence

Len of sentence is  21

In [ ]:
#Using list comprehension, print the word London

'london'

In [ ]:
# Use .split to get list of individual words in the sentence

['I', 'am', 'flying', 'to', 'london']

In [ ]:
# Convert sentence in lower case

'i am flying to london'

In [ ]:
# Convert sentence in upper case .

'I AM FLYING TO LONDON'

## Functions

### Declare a function which  takes input as x, and returns the square of x. 
Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def square(x):
    '''
    add your code
    '''
    
    return x

Call the function to find the value of square of 9.

In [ ]:
# find the value of square of 9 using the function square

Square of 9 is 81

### Define another function which checks whether a given number if odd or even, for a given input, it should print whether the given number is odd or even.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
# your code here
def check_odd_even(x):
    pass

Using both the functions to check whether the square of 3,6,21 is odd or even.

In [ ]:
 # your code here

3 if odd
6 is even
21 if odd

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x = # add a number of your choice (mine is 3 :) )
print(x)

3

In [ ]:
#Using an if statement, print whether the number is 0, positive or negative.

3 is positive

In [ ]:
# Define a function, which takes input from the user and prints whether the given input is 0,positive or negative.

def check_num(x):
    pass 


check_num(10)
check_num(-2)
check_num(0)

10 is positive
-2 is negative
0 is zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

In [ ]:
#Using For loop, iterate over the list and print the elements.

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here

[21, 20, 19]

Using For loop, create the following pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern

*
* *
* * *
* * * *
* * * * *

In [ ]:
#your code here

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [ ]:
def counter(n):
    # add your code here

In [ ]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [ ]:
# your code here

5
10
15
20
25
30
35
40
45
50

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform